pkgbase = ergenos-secureboot
	pkgdesc = Shim and Machine Owner Key Secure Boot management for ErgenOS
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/ErgenosSW/ErgenOS-SecureBoot
	install = ergenos-secureboot.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = binutils
	depends = efibootmgr
	depends = grub
	depends = mkinitcpio
	depends = mokutil
	depends = openssl
	depends = python
	depends = sbsigntools
	depends = shim-signed
	depends = util-linux
	optdepends = dkms: automatically sign out-of-tree kernel modules
	source = ergenos_secureboot.py
	source = ergenos-secureboot.install
	source = ergenos-secureboot-initcpio
	source = 95-ergenos-secureboot-grub.hook
	source = 10-ergenos-secureboot-remove-guard.hook
	source = removal-guard
	source = test_ergenos_secureboot.py
	sha256sums = b629d414e785246228512a0eaac13ff0643017dbfcb5b9b24eaeda316dc59693
	sha256sums = a06dbd5e3bc67d2bd564b3d10700af8592df51dd5267a469b701a3b8dcc3c5ec
	sha256sums = 25db5f4d52ac43664fab2666cb8815afbbec727e9c852f733dfd1d00502d4a0a
	sha256sums = b98191f0355366554fc759cde1a6fb2b123b46c8f4533899baa8f3851d631c35
	sha256sums = fd5ce8481264cac9845f9f4af59f460da19e6a3e4b7e5dfb89386dee1ab9bfb1
	sha256sums = 805584f6acc125b15077df2ed2203994784c2a829891e1074a011769202d68f9
	sha256sums = f0c40418b7d42730fd11bce581a5757978a47274547a90a56c0923eeba4c74c8

pkgname = ergenos-secureboot
