pkgbase = ergenos-secureboot
	pkgdesc = Shim and Machine Owner Key Secure Boot management for ErgenOS
	pkgver = 0.2.0.dev
	pkgrel = 2
	url = https://github.com/ErgenosSW/ErgenOS-SecureBoot
	install = ergenos-secureboot.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = binutils
	depends = efibootmgr
	depends = grub
	depends = kmod
	depends = mkinitcpio
	depends = mokutil
	depends = openssl
	depends = python
	depends = polkit
	depends = sbsigntools
	depends = shim-signed
	depends = util-linux
	depends = zstd
	optdepends = dkms: automatically sign out-of-tree kernel modules
	source = ergenos_secureboot.py
	source = ergenos-secureboot.install
	source = ergenos-secureboot-initcpio
	source = 95-ergenos-secureboot-grub.hook
	source = 10-ergenos-secureboot-remove-guard.hook
	source = removal-guard
	source = test_ergenos_secureboot.py
	source = io.github.ergenossw.ErgenOS.SecureBoot.policy
	sha256sums = 8558a7df5981bb8a68d43c1999f02fc476f1c7efb2063b71ed9f0c3ab935f0d2
	sha256sums = a06dbd5e3bc67d2bd564b3d10700af8592df51dd5267a469b701a3b8dcc3c5ec
	sha256sums = 25db5f4d52ac43664fab2666cb8815afbbec727e9c852f733dfd1d00502d4a0a
	sha256sums = b98191f0355366554fc759cde1a6fb2b123b46c8f4533899baa8f3851d631c35
	sha256sums = fd5ce8481264cac9845f9f4af59f460da19e6a3e4b7e5dfb89386dee1ab9bfb1
	sha256sums = 805584f6acc125b15077df2ed2203994784c2a829891e1074a011769202d68f9
	sha256sums = bc8e6592437ed043c95968fe4e610f0c5638c25fe7bbbfaa63efffead2101c5d
	sha256sums = 478966750f038a31594a871d72cb938180862ea4f306345a39c6a196c8cffe78

pkgname = ergenos-secureboot
